<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class=".col-md-6">
          <h1>Predicting "Pico y Placa"</h1>
          <form method="POST" action="/trip">
            <div class="form-group">
              <label for="">Plate number</label>
              <input
                type="text"
                class="form-control"
                id="plateNumber"
                name="plateNumber"
                placeholder="Insert plate number"
                required
              />
            </div>
            <div class="form-group">
              <label for="">Date</label>
              <input
                type="text"
                placeholder="YYYY-MM-DD"
                required
                pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))"
                title="Enter a date in this format YYYY-MM-DD"
                class="form-control"
                id="tripDate"
                name="tripDate"
              />
            </div>
            <div class="form-group">
              <label for="">Time</label>
              <input
                type="text"
                class="form-control"
                id="tripTime"
                name="tripTime"
                placeholder="hh:mm"
                required
                pattern="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"
              />
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
          </form>
        </div>
      </div>
      <% if(prediction) {%>
      <div class="row">
        <div class=".col-md-6">
          <div class="alert alert-secondary" role="alert">
            <%= prediction %>
          </div>
        </div>
      </div>
      <%} %>
    </div>
  </body>
</html>
